{% extends 'topbar.html' %}
{% block content %}

<div class="d-flex container text-white">
  <div class="col" style="padding: bottom 2em;">
    <div class="row justify-content-between" aria-label="Anchor">
      <div class="col-5">
        <img class="rounded" alt="Sobre Nós" width="100%" style="padding-bottom: 5%;"
          src="{{url_for('static', filename='images/sobreNos.jpeg')}}">
      </div>

      <div class="col-6" aria-label="Anchor">
        <h6 class="font-weight-bold" style="letter-spacing: 4px;line-height: 37px; color: #4e8880cc;">SOBRE NÓS</h6>
        <h3 style="letter-spacing: 4px;">
          Há + de 30 anos
        </h3>
        <h5>
          produzindo soluções para você
        </h5>
        <br>
        <p style="font-size: 14px;font-weight: 400;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur quas alias dolor sapiente,
          magnam explicabo vero eum adipisci fuga? Vel modi natus aliquam dicta temporibus ipsa alias, itaque
          cupiditate!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, molestias. Iste consectetur maiores
          repellendus similique, magnam libero ut odit aut amet sit exercitationem qui cupiditate unde autem! Tenetur,
          libero id.
        </p>
        <p style="font-size: 14px;font-weight: 400;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, molestias. Iste consectetur maiores
          repellendus similique, magnam libero ut odit aut amet sit exercitationem qui cupiditate unde autem! Tenetur,
          libero id.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam maiores culpa itaque, doloribus tempora, quia
          excepturi reprehenderit repellat, facere numquam veniam dolores blanditiis! At labore, tempora eius odio
          distinctio ducimus?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio consectetur cupiditate rem quibusdam
          adipisci?
        </p>
      </div>
    </div>
  </div>
  <br>
</div>


{% endblock %}