{% extends 'topbar.html' %}
{% block content %}

<div class="container" id="projects">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="projetos-page"></div>
</div>


<script type='text/javascript' src="{{url_for('static', filename='js/external/jquery-3.6.1.min.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/external/ejs.min.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/projetos.js')}}"></script>

{% endblock %}